<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen_Chan V.1.0.0.0</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<style>
 
/* Transparent clickable overlay */
.click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
</style>
<body>
    <div class="grid-container">


        <!-- embedding.html panel -->
    <div class="terminal-panel embedding-panel" onclick="window.open('/embedding', '_blank')" style="margin:0;padding:0;width:100%;height:100%;position:relative;">
        <div class="panel-content" style="margin:0;padding:0;width:100%;height:100%;">
            <iframe src="/embedding" title="Embedding Core" scrolling="no"
                    style="margin:0;padding:0;width:100%;height:100%;border:none;display:block;"></iframe>
        </div>
    </div>



        
        <!-- radial.html panel -->
        <div class="terminal-panel radial-panel">
            <div class="panel-content"style="margin:0;padding:0;width:100%;height:100%;"><iframe src="/radar" title="Radial Viz" scrolling="no" style="margin:0;padding:0;width:100%;height:100%;border:none;display:block;"></iframe></div>
        </div>
                <!-- ASCII Art Panel (was ascii-main-panel, now smaller) -->
        <div class="terminal-panel logo-ascii-panel" >
            <div class="panel-header">
                <span class="panel-header-title">[SIG]</span>
                <div class="panel-buttons"><span>_</span></div>
            </div>
            <div class="panel-content">
                <pre>
          _____                   _____                   _____                            _____                   _____                   _____                   _____          
         /\    \                 /\    \                 /\    \                          /\    \                 /\    \                 /\    \                 /\    \         
        /::\    \               /::\    \               /::\____\                        /::\    \               /::\____\               /::\    \               /::\____\        
        \:::\    \             /::::\    \             /::::|   |                       /::::\    \             /:::/    /              /::::\    \             /::::|   |        
         \:::\    \           /::::::\    \           /:::::|   |                      /::::::\    \           /:::/    /              /::::::\    \           /:::::|   |        
          \:::\    \         /:::/\:::\    \         /::::::|   |                     /:::/\:::\    \         /:::/    /              /:::/\:::\    \         /::::::|   |        
           \:::\    \       /:::/__\:::\    \       /:::/|::|   |                    /:::/  \:::\    \       /:::/____/              /:::/__\:::\    \       /:::/|::|   |        
            \:::\    \     /::::\   \:::\    \     /:::/ |::|   |                   /:::/    \:::\    \     /::::\    \             /::::\   \:::\    \     /:::/ |::|   |        
             \:::\    \   /::::::\   \:::\    \   /:::/  |::|   | _____            /:::/    / \:::\    \   /::::::\    \   _____   /::::::\   \:::\    \   /:::/  |::|   | _____  
              \:::\    \ /:::/\:::\   \:::\    \ /:::/   |::|   |/\    \          /:::/    /   \:::\    \ /:::/\:::\    \ /\    \ /:::/\:::\   \:::\    \ /:::/   |::|   |/\    \ 
_______________\:::\____/:::/__\:::\   \:::\____/:: /    |::|   /::\____\        /:::/____/     \:::\____/:::/  \:::\    /::\____/:::/  \:::\   \:::\____/:: /    |::|   /::\____\
\::::::::::::::::::/    \:::\   \:::\   \::/    \::/    /|::|  /:::/    /        \:::\    \      \::/    \::/    \:::\  /:::/    \::/    \:::\  /:::/    \::/    /|::|  /:::/    /
 \::::::::::::::::/____/ \:::\   \:::\   \/____/ \/____/ |::| /:::/    /          \:::\    \      \/____/ \/____/ \:::\/:::/    / \/____/ \:::\/:::/    / \/____/ |::| /:::/    / 
  \:::\~~~~\~~~~~~        \:::\   \:::\    \             |::|/:::/    /            \:::\    \                      \::::::/    /           \::::::/    /          |::|/:::/    /  
   \:::\    \              \:::\   \:::\____\            |::::::/    /              \:::\    \                      \::::/    /             \::::/    /           |::::::/    /   
    \:::\    \              \:::\   \::/    /            |:::::/    /                \:::\    \                     /:::/    /              /:::/    /            |:::::/    /    
     \:::\    \              \:::\   \/____/             |::::/    /                  \:::\    \                   /:::/    /              /:::/    /             |::::/    /     
      \:::\    \              \:::\    \                 /:::/    /                    \:::\    \                 /:::/    /              /:::/    /              /:::/    /      
       \:::\____\              \:::\____\               /:::/    /                      \:::\____\               /:::/    /              /:::/    /              /:::/    /       
        \::/    /               \::/    /               \::/    /                        \::/    /               \::/    /               \::/    /               \::/    /        
         \/____/                 \/____/                 \/____/                          \/____/                 \/____/                 \/____/                 \/____/         
                </pre>
                
                
                </div>
            <div class="panel-description-footer">
                Fully Local Chrome History Based Mood Predictor
            </div>
            </div>

        <!-- top_domains.html panel -->
        <div class="terminal-panel bubble-panel">
            <div class="panel-content" style="margin:0;padding:0;width:100%;height:100%;"><iframe src="/top_domains" title="Top Domains" scrolling="no" style="margin:0;padding:0;width:100%;height:100%;border:none;display:block;"></iframe></div>
        </div>

        <!-- daily_activity.html panel -->
        <div class="terminal-panel mood-panel">
            
            <div class="panel-content" style="margin:0;padding:0;width:100%;height:100%;"><iframe src="/dropdown" title="dropdown" scrolling="no" style="margin:0;padding:0;width:100%;height:100%;border:none;display:block;"></iframe></div>
        </div>

        <!-- mood_over_time.html panel -->
        <div class="terminal-panel category-panel">
            <div class="panel-content" style="margin:0;padding:0;width:100%;height:100%;"><iframe src="/mood_over_time" title="Mood Over Time" scrolling="no" style="margin:0;padding:0;width:100%;height:100%;border:none;display:block;"></iframe></div>
        </div>

        <!-- map_master.html panel -->
        <div class="terminal-panel map-panel" >
            <div class="panel-content" style="margin:0;padding:0;width:100%;height:100%;"><iframe style="margin:0;padding:0;width:100%;height:100%;border:none;display:block;" src="map" title="Map Master" scrolling="no"></iframe></div>
        </div>
    </div>
</body>
<!-- <script >
           document.addEventListener('DOMContentLoaded', () => {
            const mainPanel = document.getElementById('ascii-main-panel');
            const preElement = mainPanel.querySelector('.panel-content pre');

            // Store the original ASCII art
            const originalAscii = preElement.textContent;

            // Define the new ASCII art (using backticks for multi-line strings)
            const newAscii = `
                                                                                     
                                                                                        
                                                                                        
                                                                                
`;

            // Add event listener for when the mouse enters the main panel
            mainPanel.addEventListener('mouseenter', () => {
                preElement.textContent = newAscii;
            });

            // Add event listener for when the mouse leaves the main panel
            mainPanel.addEventListener('mouseleave', () => {
                preElement.textContent = originalAscii;
            });
        });
    </script> -->

</html>